body{
    background-image: url('https://2.bp.blogspot.com/_8jJxXITAjJo/TJ5kqYt_9YI/AAAAAAAAAjc/0_vSxG0gaFc/s400/cartoon-desenhos-animados003%255B1%255D.gif');
    background-size: 460px 480px;
    font-family: verdana;
    heigth: 100vh;
  }
  .menu{
   background-color: white;
  }
  a{
    color: teal;
    text-decoration: none;
  }
  a:hover{
      text-decoration: underline;
  
  }
  
  .menu ul{
    display: flex;
    justify-content: space-between;
  }
  .menu li{
    list-style: none;
  }
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center
    
  
  
  }
  
  .site-subtitle{
    font-style: italic;
    font-size: 32px;
    color: teal;
  }
  
