body{
    background-image: url('https://conteudo.imguol.com.br/bc/2020/02/21/amanda-souza-musa-da-colorado-do-bras-1582310452355_300x420.jpg');
    background-size: 460px 480px;
    font-family: verdana;
    heigth: 1000px 1000px;
  }
  .menu{
   background-color: white;
  }
  a{
    color: teal;
    text-decoration: none;
  }
  a:hover{
      text-decoration: underline;
  
  }
  
  .menu ul{
    display: flex;
    justify-content: space-between;
  }
  .menu li{
    list-style: none;
  }
  .site-subtitle,
  .site-title{
    color: yellowgreen;
    height: 7em;
    display: flex;
    
  
  
  }
  
  .site-subtitle{
    font-style: italic;
    font-size: 32px;
    color: teal;
  }
  
